<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/forgot_password" method="post">
        <h1> RECUPERAR CONTRASEÑA</h1>

        <div>
            <label for="">Tipo Documento</label>
            <select name="tipo_documento">
                <option value="CC" name="tipo_documento">Cedula de Ciudadania</option>
                <option value="TI" name="tipo_documento">Tarjeta de identidad</option>
            </select>
            <label for="">Numero de documento</label>
            <input type="number" min="0" maxlength="10" name="numero">
            <label for="">Fecha de ingreso</label>
            <input type="date" name="ingreso">
            <label for="">PIN</label>
            <input type="password" maxlength="4" name="pin">
            <input type="submit" value="ENVIAR">
        </div>
    </form>
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</body>

</html>